@{
    ViewBag.Title = "Happy Squad";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Блаблабла... Рады приветствовать вас...</h1>
                <h2></h2>
            </hgroup>
            <p>
                Тут будет калькулятор для Warhammer 40,000.
            </p>
        </div>
    </section>
}
