@{
    ViewBag.Title = "Happy Squad";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Рады приветствовать вас блаблабла.</h1>
                <h2></h2>
            </hgroup>
            <p>
                Тут будет калькулятор для Warhammer 40,000, потом проект будет
                     развиваться в сторону игры на основе этой вселенной
            </p>
        </div>
    </section>
}
