<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://happysquad.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HappySquad</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$HappySquad</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HappySquad.Models.UsersContext, HappySquad" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HappySquad.Models.HappyDbContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:jit0p6jb6n.database.windows.net,1433;Initial Catalog=HappySquadDbContext;User ID=Developer@jit0p6jb6n;Password=Agrail142211" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HappySquad.Models.HappyDbContext, HappySquad" MigrationConfiguration="HappySquad.Migrations.Configuration, HappySquad" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HappySquadDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:jit0p6jb6n.database.windows.net,1433;Initial Catalog=HappySquadDbContext;User ID=Developer@jit0p6jb6n;Password=Agrail142211" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:jit0p6jb6n.database.windows.net,1433;Initial Catalog=HappySquadDbContext;User ID=Developer@jit0p6jb6n;Password=Agrail142211" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HappySquadDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:jit0p6jb6n.database.windows.net,1433;Initial Catalog=HappySquadDbContext;User Id=Developer@jit0p6jb6n;Password=Agrail142211;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HappySquad.Models.HappyDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jit0p6jb6n.database.windows.net,1433;Initial Catalog=HappySquadDbContext;User ID=Developer@jit0p6jb6n;Password=Agrail142211</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HappySquadDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jit0p6jb6n.database.windows.net,1433;Initial Catalog=HappySquadDbContext;User ID=Developer@jit0p6jb6n;Password=Agrail142211</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="HappySquad.Models.HappyDbContext" />
  </ItemGroup>
</Project>